body {
  background-color: #f1f2f5;
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.carouselCard .ant-card-cover img {
  width: 100% !important;
  height: 200px !important;
  object-fit: cover !important;
}

.slick-track,
.slick-list {
  width: 90% !important;
}

.slick-slide .slick-active {
  width: 25% !important;
}
